<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= trail.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/trails/<%= trail._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="trail[name]"  placeholder="trail name?"value="<%= trail.name %>">
                </div>
				<div class="form-group">
                    <input class="form-control" type="number" name="trail[price]"  placeholder="pass fee?" value="<%= trail.price %>" min = "0.0" step = "0.5">
                </div>
				<div class="form-group">
  					<input class="form-control" type="number" name="trail[length]"  placeholder="trail length?" value="<%= trail.length %>" step="0.1" min="0" required>
				</div>				
                <div class="form-group">
                    <input class="form-control" type="text" name="trail[image]" value="<%= trail.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="trail[description]" value="<%= trail.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/trails">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

